body {
    margin: 0;
}

#map {
    height: 100vh;
    width: 100vw;
}

#sidebar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    padding: 1rem;
    border-radius: 0 0 0 12px;
}

#configurations {
    padding: 0;
    list-style: none;
}

#stats_not_found {
    color: red;
}

#stats_ruled_out {
    color: orange;
}

#stats_found {
    color: green;
}

.changed-tag span {
    color: green;
}

.removed-tag span {
    color: red;
}

table,
th,
td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}